$design1Color: #50e3c2;
.title.name,
.title.position {
  color: $design1Color;
}

#preview-section {
  .box {
    padding: 50px;
  }
  .experience-wrapper,
  .about-section,
  .contact-section {
    border-bottom: dotted 3px $design1Color;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .contact-section {
    @include until($desktop) {
      flex-direction: column;
    }
    display: flex;
    align-items: center;
    border-bottom: dotted 3px $design1Color;
    padding-bottom: 40px;
    margin-bottom: 40px;
    height: 300px;
    justify-content: space-between;
    .contact-info-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 50%;
      @include until($desktop) {
        max-width: 100%;
      }
      & > div {
        display: flex;
        margin: 5px 0;
        span:first-of-type {
          min-width: 100px;
        }
      }
      .title,
      span {
        display: inline-block;
      }
      .title {
        margin-right: 20px;
        margin-bottom: 0;
        flex-basis: 15%;
        text-align: right;
        line-height: 1.5rem;
        @include until($desktop) {
          text-align: left;
        }
      }
      span:last-of-type {
        width: 60%;
        text-align: left;
      }
    }
  }
  .experience-wrapper {
    .position {
      margin-bottom: 15px;
    }
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}
