body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom CSS */

header {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  background: lightsteelblue;
  color: darkslateblue;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
}

nav ul li {
  padding: 15px;
  cursor: pointer;
}

section {
  padding: 0 30px;
  margin: 20px 0;
}

.display-flex {
  display: flex;
}

.justify-flex-around {
  justify-content: space-around;
}

.align-flex-center {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}
